#忽略全部
/*

# KubeJS
!/kubejs/
## 白名单
/kubejs/*
!/kubejs/client_scripts/
!/kubejs/server_scripts/
!/kubejs/startup_scripts/

# Mods
!/mods/
## 白名单
# /mods/*

# Config
!/config/
## 白名单
# /config/*
